@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Shared */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-0 {
  width: 0;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}
